@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700&family=Rubik:wght@400;500;700;900&display=swap");

* {
  font-family: "Rubik", sans-serif;
}

code {
  font-family: "Roboto Mono", monospace;
}

header,
main,
footer {
  @apply p-[20px];
}

* {
  outline: none;
}

select {
  background-color: transparent;
}
